<!-- Sidebar -->
<div class="col-lg-3">
    <!-- Popular Tags -->
    <div class="g-mb-20">
        <div class="u-heading-v3-1 g-mb-30">
            <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">Popular Tags</h2>
        </div>
        <ul class="u-list-inline g-font-size-11 text-uppercase mb-0">
            <li class="list-inline-item g-mb-10">
                <a class="u-tags-v1 g-brd-around g-brd-gray-light-v4 g-bg-primary--hover g-brd-primary--hover g-color-black-opacity-0_8 g-color-white--hover rounded g-py-6 g-px-15" href="#">Web Design</a>
            </li>
            <li class="list-inline-item g-mb-10">
                <a class="u-tags-v1 g-brd-around g-brd-gray-light-v4 g-bg-primary--hover g-brd-primary--hover g-color-black-opacity-0_8 g-color-white--hover rounded g-py-6 g-px-15" href="#">Bootstrap</a>
            </li>
            <li class="list-inline-item g-mb-10">
                <a class="u-tags-v1 g-brd-around g-brd-gray-light-v4 g-bg-primary--hover g-brd-primary--hover g-color-black-opacity-0_8 g-color-white--hover rounded g-py-6 g-px-15" href="#">SASS</a>
            </li>
            <li class="list-inline-item g-mb-10">
                <a class="u-tags-v1 g-brd-around g-brd-gray-light-v4 g-bg-primary--hover g-brd-primary--hover g-color-black-opacity-0_8 g-color-white--hover rounded g-py-6 g-px-15" href="#">Marketing</a>
            </li>
            <li class="list-inline-item g-mb-10">
                <a class="u-tags-v1 g-brd-around g-brd-gray-light-v4 g-bg-primary--hover g-brd-primary--hover g-color-black-opacity-0_8 g-color-white--hover rounded g-py-6 g-px-15" href="#">Unify</a>
            </li>
            <li class="list-inline-item g-mb-10">
                <a class="u-tags-v1 g-brd-around g-brd-gray-light-v4 g-bg-primary--hover g-brd-primary--hover g-color-black-opacity-0_8 g-color-white--hover rounded g-py-6 g-px-15" href="#">Htmlstream</a>
            </li>
            <li class="list-inline-item g-mb-10">
                <a class="u-tags-v1 g-brd-around g-brd-gray-light-v4 g-bg-primary--hover g-brd-primary--hover g-color-black-opacity-0_8 g-color-white--hover rounded g-py-6 g-px-15" href="#">Pixeel</a>
            </li>
            <li class="list-inline-item g-mb-10">
                <a class="u-tags-v1 g-brd-around g-brd-gray-light-v4 g-bg-primary--hover g-brd-primary--hover g-color-black-opacity-0_8 g-color-white--hover rounded g-py-6 g-px-15" href="#">Free Themes</a>
            </li>
        </ul>
    </div>
    <!-- End Popular Tags -->
    <div id="stickyblock-start-1" class="js-sticky-block g-sticky-block--lg g-pt-20" data-start-point="#stickyblock-start-1" data-end-point="#stickyblock-end-1">
        <!-- News Feed -->
        <div class="g-mb-40">
            <div class="u-heading-v3-1 g-mb-30">
                <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">News Feed</h2>
            </div>
            <!-- Article -->
            <article>
                <span class="g-font-size-12">
                    <a class="u-link-v5 g-color-gray-dark-v4" href="#">Jonathan Owen</a>
                </span>
                <h3 class="h6">
                    <a class="g-color-gray-dark-v1" href="#">Architects plan to stop skyscrapers from blocking out sunlight</a>
                </h3>
            </article>
            <!-- End Article -->
            <hr class="g-brd-gray-light-v4 g-mt-15 g-mb-10">
            <!-- Article -->
            <article>
                <span class="g-font-size-12">
                    <a class="u-link-v5 g-color-gray-dark-v4" href="#">James Doe</a>
                </span>
                <h3 class="h6">
                    <a class="g-color-gray-dark-v1" href="#">Cooltex is one of the best technology company of our age and future</a>
                </h3>
            </article>
            <!-- End Article -->
            <hr class="g-brd-gray-light-v4 g-mt-15 g-mb-10">
            <!-- Article -->
            <article>
                <span class="g-font-size-12">
                    <a class="u-link-v5 g-color-gray-dark-v4" href="#">Albert Coolmen</a>
                </span>
                <h3 class="h6">
                    <a class="g-color-gray-dark-v1" href="#">Some text goes here with plain English and much more other texts go there..</a>
                </h3>
            </article>
            <!-- End Article -->
        </div>
        <!-- End News Feed -->
        <!-- Top Authors -->
        <div class="g-mb-40">
            <div class="u-heading-v3-1 g-mb-30">
                <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">Top Authors</h2>
            </div>
            <article class="media g-mb-35">
                <img class="d-flex u-shadow-v25 g-width-40 g-height-40 rounded-circle mr-3" src="~/frontend/assets/img-temp/100x100/img1.jpg" alt="Image Description">
                <div class="media-body">
                    <h4 class="g-font-size-16">
                        <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="#">Htmlstream</a>
                        <small class="g-color-gray-dark-v4">Htmlstream</small>
                    </h4>
                    <p>Sed ultrices velit vitae tortor posuere and dial in the details.</p>
                    <a class="btn u-btn-outline-primary g-font-size-11 text-uppercase" href="#">Follow</a>
                </div>
            </article>
            <article class="media g-mb-35">
                <img class="d-flex u-shadow-v25 g-width-40 g-height-40 rounded-circle mr-3" src="~/frontend/assets/img-temp/100x100/img3.jpg" alt="Image Description">
                <div class="media-body">
                    <h4 class="g-font-size-16 g-color-gray-dark-v1">
                        <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="#">Pixeel</a>
                        <small class="g-color-gray-dark-v4">Pixeeluk</small>
                    </h4>
                    <p>This is where we sit down, grab a cup of coffee and dial in the details.</p>
                    <a class="btn u-btn-outline-primary g-font-size-11 text-uppercase" href="#">Follow</a>
                </div>
            </article>
            <article class="media">
                <img class="d-flex u-shadow-v25 g-width-40 g-height-40 rounded-circle mr-3" src="~/frontend/assets/img-temp/100x100/img2.jpg" alt="Image Description">
                <div class="media-body">
                    <h4 class="g-font-size-16 g-color-gray-dark-v1">
                        <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="#">WrapBootstrap</a>
                        <small class="g-color-gray-dark-v4">WrapBootstrap</small>
                    </h4>
                    <p>Ulvinar leo ultricies ut, grab a cup of coffee and dial in the details.</p>
                    <a class="btn u-btn-outline-primary g-font-size-11 text-uppercase" href="#">Follow</a>
                </div>
            </article>
        </div>
        <!-- End Top Authors -->
    </div>
</div>
<!-- End Sidebar -->
