@model IEnumerable<Training.Models.Post>
<div id="recentPosts">
    <!-- Recent Posts -->
    <div class="g-mb-30">
        <div class="u-heading-v3-1 g-mb-30">
            <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">Recent Posts</h2>
        </div>
        <!-- Article -->
        @foreach(var item in Model)
        {
            <article class="media g-mb-30">
                <a class="d-flex u-shadow-v25 mr-3" href="#!">
                    <img class="g-width-60 g-height-60" src="@item.FeaturedImage" alt="Image Description">
                </a>
                <div class="media-body">
                    <h3 class="h6">
                        <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="@Url.Action("Details","Posts", new { permalink = item.Permalink })">@item.Title</a>
                    </h3>
                    <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                            @item.Published.ToString("dd MMM, yyyy")
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                            <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="#!">
                                <i class="icon-finance-206 u-line-icon-pro align-middle g-pos-rel g-top-1 mr-1"></i> 18
                            </a>
                        </li>
                    </ul>
                </div>
            </article>
        }
    </div>
    <!-- End Recent Posts -->
</div>
